## https://www.kaggle.com/competitions/ga-customer-revenue-prediction/data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
import os

In [4]:
import numpy as np
import pandas as pd
#import dask.dataframe as dd
import json

## Constants

In [7]:
data_path = '/Users/hardiksahi/Personal/MachineLearning/kaggle/google-analytics-propensity/data/01_raw/ga-customer-revenue-prediction'

In [8]:
train_df = pd.read_csv(os.path.join(data_path, 'train.csv'), dtype={'fullVisitorId': 'object'})
print(f'Shape of train_df: {train_df.shape}')

Shape of train_df: (903653, 12)

In [17]:
pd.to_datetime(train_df['date']).dt.strftime("%YYYY%m%m%d%d")#.loc[0].date().isoformat()

0         1970YYY01010101
1         1970YYY01010101
2         1970YYY01010101
3         1970YYY01010101
4         1970YYY01010101
               ...
903648    1970YYY01010101
903649    1970YYY01010101
903650    1970YYY01010101
903651    1970YYY01010101
903652    1970YYY01010101
Name: date, Length: 903653, dtype: object

In [18]:
train_df['date'].unique()

array([20160902, 20170126, 20170623, 20170312, 20170203, 20160811,
       20170613, 20170113, 20161118, 20161110, 20161112, 20170621,
       20161123, 20170501, 20170611, 20170630, 20161213, 20170519,
       20170111, 20170624, 20161014, 20170529, 20170515, 20170420,
       20160831, 20170801, 20170228, 20161209, 20160917, 20170617,
       20161216, 20160820, 20170616, 20160822, 20161129, 20170318,
       20161130, 20170303, 20160816, 20161030, 20161230, 20170704,
       20170213, 20170511, 20160912, 20161022, 20160824, 20170421,
       20170412, 20160805, 20161018, 20170310, 20170428, 20170116,
       20170115, 20170102, 20170320, 20170410, 20161125, 20170311,
       20170622, 20170329, 20161026, 20170308, 20161124, 20161021,
       20170217, 20170627, 20161117, 20161109, 20160819, 20161128,
       20160901, 20161122, 20170615, 20170714, 20160915, 20170606,
       20161107, 20160929, 20160821, 20160803, 20170321, 20170128,
       20160906, 20170724, 20161208, 20170118, 20161020, 20170121,
       20170129, 20170522, 20170503, 20161127, 20161015, 20170105,
       20170426, 20160813, 20170317, 20170425, 20170429, 20161203,
       20170423, 20170607, 20170306, 20170112, 20170620, 20161201,
       20170127, 20161114, 20170728, 20161106, 20170207, 20161202,
       20161219, 20170723, 20160913, 20161225, 20170525, 20161210,
       20170518, 20160930, 20170331, 20170330, 20160826, 20161009,
       20170521, 20170216, 20170201, 20161104, 20170706, 20170721,
       20160809, 20170506, 20170601, 20170514, 20161221, 20170108,
       20161027, 20170508, 20170406, 20161223, 20170205, 20161126,
       20160927, 20170618, 20170405, 20170609, 20161207, 20160916,
       20170403, 20170131, 20161102, 20160830, 20160910, 20161002,
       20160909, 20161211, 20161007, 20161226, 20160904, 20170210,
       20170414, 20170313, 20161205, 20170109, 20160914, 20160814,
       20170605, 20170214, 20170208, 20161115, 20161013, 20161029,
       20160903, 20170504, 20170608, 20170417, 20170703, 20160825,
       20160922, 20170225, 20170502, 20170711, 20160812, 20161215,
       20170222, 20160911, 20160810, 20170110, 20161101, 20160802,
       20161031, 20160924, 20160928, 20170325, 20161017, 20170722,
       20161222, 20160905, 20170223, 20170505, 20170702, 20170106,
       20161224, 20170528, 20170125, 20170603, 20170416, 20161016,
       20161204, 20170705, 20161003, 20170219, 20160801, 20161008,
       20160817, 20170202, 20170523, 20170726, 20170323, 20160919,
       20170315, 20161025, 20170220, 20170328, 20170309, 20170619,
       20170307, 20170430, 20170524, 20161116, 20160829, 20170610,
       20161028, 20170701, 20170720, 20161103, 20170304, 20170413,
       20161012, 20170314, 20160923, 20161121, 20170124, 20170215,
       20170509, 20170707, 20161212, 20170513, 20161218, 20161108,
       20170604, 20170123, 20170209, 20161006, 20170327, 20161011,
       20170117, 20161206, 20170316, 20170516, 20170507, 20160827,
       20170130, 20170224, 20161220, 20160815, 20170713, 20170411,
       20170211, 20170206, 20170305, 20170422, 20161024, 20161010,
       20170719, 20161001, 20161113, 20161119, 20160804, 20170731,
       20170427, 20170424, 20170120, 20170301, 20170712, 20170708,
       20170415, 20161228, 20170530, 20170626, 20161105, 20160921,
       20160926, 20170218, 20161227, 20161111, 20170119, 20170730,
       20170612, 20170402, 20160806, 20170526, 20160823, 20170227,
       20160808, 20170710, 20170718, 20170103, 20170404, 20161120,
       20170727, 20170716, 20170226, 20170322, 20161214, 20170408,
       20170418, 20170122, 20170101, 20170401, 20170302, 20170614,
       20170510, 20170419, 20170602, 20170221, 20170527, 20170628,
       20160925, 20161004, 20170517, 20161023, 20170725, 20160828,
       20170114, 20170407, 20170715, 20160920, 20161231, 20170629,
       20170625, 20160818, 20170520, 20170204, 20160918, 20170212,
       20170326, 20160908, 20170512, 20170107, 20161005, 20161217,
       20161229, 20161019, 20170319, 20170717, 20160907, 20170409,
       20170324, 20160807, 20170729, 20170531, 20170709, 20170104])

## Step 1: Normalize data (json columns), standardizing column names by reading a chunk of data at a time since the actual data is very large (25GB)

In [ ]:
with pd.read_csv(os.path.join(data_path, 'train.csv'), chunksize=100) as reader:
    row_count = 0
    for i, chunk in enumerate(reader):
        row_count+=len(chunk)
        print(f'Shape of chunk: {i}: {chunk.shape}')

In [ ]:
903653

In [ ]:
row_count

In [ ]:
train_df.head()

In [ ]:
dd.json_normalize(json.loads(train_df['device'].loc[0]))

In [9]:
pd.json_normalize(train_df['geoNetwork'].apply(lambda x: json.loads(x)).tolist())

,continent,subContinent,country,region,metro,city,cityId,networkDomain,latitude,longitude,networkLocation
0,Asia,Western Asia,Turkey,Izmir,(not set),Izmir,not available in demo dataset,ttnet.com.tr,not available in demo dataset,not available in demo dataset,not available in demo dataset
1,Oceania,Australasia,Australia,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,dodo.net.au,not available in demo dataset,not available in demo dataset,not available in demo dataset
2,Europe,Southern Europe,Spain,Community of Madrid,(not set),Madrid,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
3,Asia,Southeast Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
4,Europe,Northern Europe,United Kingdom,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
...,...,...,...,...,...,...,...,...,...,...,...
903648,Americas,Caribbean,Puerto Rico,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,prtc.net,not available in demo dataset,not available in demo dataset,not available in demo dataset
903649,Asia,Southern Asia,Sri Lanka,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
903650,Asia,Eastern Asia,South Korea,Seoul,(not set),Seoul,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
903651,Asia,Southeast Asia,Indonesia,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,unknown.unknown,not available in demo dataset,not available in demo dataset,not available in demo dataset
903652,Americas,Central America,Mexico,not available in demo dataset,not available in demo dataset,not available in demo dataset,not available in demo dataset,cybercable.net.mx,not available in demo dataset,not available in demo dataset,not available in demo dataset

In [ ]:
train_df.groupby(by=['fullVisitorId','visitId']).size().value_counts()

In [ ]:
json.loads(train_df['channelGrouping'].loc[0])

In [ ]:
train_df.dtypes

In [ ]:
train_df.fullVisitorId.value_counts()

In [ ]:
train_df.loc[0]['totals']

In [ ]:
train_df[train_df.fullVisitorId == 824839726118485274].sort_values(by=['visitNumber']).head()

In [ ]:
train_df.groupby(by=['fullVisitorId']).agg({'visitNumber': lambda x: len(set(x))}).sort_values(by=['visitNumber'], ascending=False).head()

In [ ]:
train_df[train_df.fullVisitorId == 5103959234087].sort_values(by=['visitNumber']).head()

In [ ]:
train_df.socialEngagementType.value_counts()